/* Bootstrap */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";

/* Material UI  */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://unpkg.com/@material-ui/core@latest/umd/material-ui.min.css";

html {
    background-color: aliceblue;
}

.container {
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 89%;
    height: 55%;
    background-color: white;
    margin: auto;
}
.row {
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.col-options {
    border-right: 1px solid #a3c0ff;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.no-border-right {
    border-right: none;
}

.col-header {
    max-height: 15px;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}