/* Bootstrap */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";

/* Material UI  */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://unpkg.com/@material-ui/core@latest/umd/material-ui.min.css";

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');


/* 
COLORS
    #DFE7FB rgba(223,231,251)   | Lavender (background)
    #a0b3f2 rgba(160,179,242,1) | Perano (borders)
    #375BD2 rgba(55,91,210,1)   | CLBlue (Hit Button/Card Row Border)
    #1a2b6b rgba(26,43,107,1)   | Biscay (Text)
*/

html {
    background-color: #DFE7FB; /* Lavender (background) */
}

* {
    font-family: 'Montserrat', sans-serif;
    color: #1a2b6b; /* Biscay (Text) */
}

.match-bg {
    background-color: #DFE7FB !important; /* Lavender (background) */
}

.container {
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 750px;
    min-height: 400px;
    height: 55%;
    background-color: white;
    margin: auto;
    box-shadow: 0px 0px 5px rgba(160,179,242,.8); /* Perano (borders) */
}
.row {
    margin: 0;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.col-options {
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;
}

.col-border-right {
    border-right: 1px solid #a0b3f2; /* Perano (borders) */
}

.col-dealer-hand{
    margin-top: 10px;
}

.col-hand {
    max-width: fit-content;
    display: flex;
}

.row-header {
    min-width: 100%;
    max-height: 10%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.row-body {
    min-width: 100%;
    max-height: 50%;
    justify-content: center;
    align-items: center;
}

.row-footer {
    min-width: 100%;
    max-height: 40%;
    justify-content: center;
    align-items: center;
}

.row-dealer-hand {
    background-color: transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 80%;
    width: 100%;
    clip-path: polygon(10 0, 100% 0, 100% 50%, 0 100%);
    box-shadow: 0px 0px 10px rgba(55,91,210,1) inset; /* CLBLUE */
    justify-content: center;
}

.row-dealer-hand-fill {
    background-color: #DFE7FB;   /* Lavender (background) */
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    width: 100%;
    opacity: 80%;
    display: flex;
    justify-content: center;
}

.row-player-hand {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(55,91,210,1) inset; /* CLBLUE */
    height: 80%;
    justify-content: center;
}

.row-player-hand-fill {
    background-color: #DFE7FB;   /* Lavender (background) */
    border-radius: 10px;
    height: 100%;
    width: 100%;
    opacity: 80%;
    display: flex;
    justify-content: center;
}

.your-hand {
    position: absolute;
    top: -15px;
    left: 15px;
    font-weight: 300;
    font-size: 12px;
    padding: 0px;
}

.row-player-choices {
    height: 20%;
    position: relative;
}

.col-choice-button {
    top: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.button-hit {
    width: 100px;
    background-color: #375BD2 !important;
}

.button-stand {
    width: 100px;
    background-color: white !important;
    border: 1px solid #375BD2 !important;
    color: #375BD2 !important;
}

.player-card {
    width: 80px;
    min-width: 80px;
    height: 130px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(55,91,210,.3);
    border: 1px solid #a0b3f2;
    border-radius: 10px;
    margin: 5px;
    float: left;
    z-index: 1;
    margin-top: 5px;
    padding-left: 5px;
    position: relative;
    font-weight: 600;
    font-size: 16px;
}

.dealer-card {
    width: 48px;
    min-width: 48px;
    height: 78px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(55,91,210,.3);
    border: 1px solid #a0b3f2;
    border-radius: 10px;
    margin: 5px;
    float: left;
    z-index: 1;
    margin-top: 5px;
    padding-left: 5px;
    position: relative;
    font-weight: 600;
    font-size: 14px;
}

.z-index-neg-10 {
    z-index: -10;
}

.z-index-neg-1 {
    z-index: -1;
}

.z-index-0 {
    z-index: 0;  /* Main Table */
}

.z-index-1 {
    z-index: 1;
}

.z-index-10 {
    z-index: 10;
}


.width-340 {
    max-width: 340px;
    min-width: 340px;
}

.width-900 {
    max-width: 900px;
    min-width: 900px;
}

/* removes black border that appears after MUI buttons are clicked */
button:focus { outline: none !important;;}